body {
    background-color: rgb(243, 240, 236);
    padding: 100px;
}

.Form { 
    position: absolute;
    left: 40vw;
    top: 40vh;
    background-color: #f5ba13;
    align-content: center;
    padding: 30px;
}

/* for homepage tasks */

.input, .textarea {
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 7px 10px;
    word-wrap: break-word;
    
    background-color: #f6f5f5da;
}

.input {
  font-size: 12pt;
  font-weight: bold;
}

/* for detailed task */
input, textarea {
  display: block;
  /* width: 90%; */
  min-width: 100%;
  margin: 10px 0px;
  padding: 10px 10px;
  word-wrap: break-word;
  font-size: 13pt;
  background-color: #f6f5f5da;
}

input {
  color: black;
  font-size: 15pt;
  font-weight: bold;
}



.button-list button {
    margin: 20px;
}


.logout {
    float: right;
    margin: 5px 20px; 
}

.signIn {
    display: block;
    margin-top: 20px;
    font-size: 13pt;
}

h1, .navigation {
    display: inline;
}

.navigation {
  margin: 2em;
}

/* keeper app css */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eee;
    background-image: url("https://transparenttextures.com/patterns/black-thread-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    padding: 0 16px;
  }
  
  header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  
  footer {
    position: sticky;
    text-align: center;
    top: 100vh;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #6b6b6b;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  /* .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  } */
  
  .note button {
    /* position: relative; */
    /* float: right;  */
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 30px;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form.create-note input,
  form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  /* form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  } */
  
  .completed {
    background-color: rgb(82, 142, 82);
  }

  .deleted {
    background-color: rgb(188, 76, 76);
  }
  
  .checkbox {
    float: right;
    height: 20px;
    width: 20px;
  }
  
  p {
    font-size: 11px;
    color: rgb(0, 0, 0);
    position: relative;
    right: 0px
  }

  .profileIcon { 
    float: right;
    font-size: 13pt;
    font-weight: bold;
  }


  .nav {
    margin: 0px 10px 0px;
  }


  .task-container{
    margin: 40px auto;
    padding: 0px 30px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .text-center {
    text-align: center;
  }


  .detailTask-div {
    width: 30em;
    height: 70vh;
    padding: 20px 20px;
    overflow: hidden;
    text-align:center;
  }

  .flex-right {
    display: inline;
    float: right;
  }

  .button-list {
    display: flex; 
    justify-content: center;
    padding: 0 30px;
    flex-wrap: wrap;
  }